<table id="medication-table">
  <header>
    <th>Name</th>
    <th>Description</th>
    <th>Dose</th>
    <th>Remaining</th>
    <th>Supply</th>
    <th></th>
    <th></th>
  </header>
  <% @medications.each do |med| %>
    <% supply = med.calc_supply(med) %>
    <tr class="hoverable-row">
      <td><%= med.name %></td>  
      <td><%= med.description%></td>
      <td><%= med.dose %></td>
      <td><%= calc_remaining(med) %></td>
      <td><%= pluralize(supply, "day") %></td>
      <td class="hoverable-row-dark">
        <%= link_to edit_medication_path(med) do %>
          <i class="far fa-edit"></i>
        <% end %>
      </td>
      <td class="hoverable-row-dark">
        <%= link_to medication_path(med), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>           
    </tr>
    <tr>
      </tr>
  <% end %>
</table>

<%= link_to "Add another medication", new_medication_path, class: "btn"%>