<div class="centered basic-form">  
  <% if @med.id %>
    <h3>Update Medication</h3>
  <% else %>
    <h3>Add a New Medication</h3>
  <% end %>  
  <%= simple_form_for @med do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :dose %>
  <%= f.input :remaining %>
  <%= f.button :submit %>
<% end %>
</div>