<div class="centered basic-form">
<% if @record.id %>
    <h3>Update Record</h3>
  <% else %>
    <h3>Add a New Record</h3>
  <% end %>
  <%= simple_form_for @record do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :date, as: :string, input_html: {class: "date-picker", placeholder: Date.today.strftime("%d-%m-%Y")} %>
    <%= f.input :category %>
    <%= f.input :letter, label: 'PDF file:', input_html: {accept: ('application/pdf') } %>    
    <%= f.button :submit %>
  <% end %>
</div>
