<table id="medication-table">
  <header>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </header>
  <% @records.each do |record| %>
    <tr class="hoverable-row">
      <td><%= record.name %></td>  
      <td><%= record.description%></td>
      <td>
        <%= record.category != nil && record.category != "" ? record.category : "Uncategorised" %>
      </td>
      <td><%= record.date.strftime("%d %B %Y") %></td>
      <td class="hoverable-row-dark">
        <%= link_to record_path(record) do %>
         <%= fa_icon "book" %>
        <% end %>
      </td>
      <td class="hoverable-row-dark">
        <%= link_to edit_record_path(record) do %>
          <%= fa_icon "edit" %>
        <% end %>
      </td>
      <td class="hoverable-row-dark">
        <%= link_to  record_path(record), method: :delete, data: { confirm: "Are you sure?" } do %>
          <%= fa_icon "trash-alt" %>
        <% end %>
      </td>         
    </tr>    
  </tr>
  <% end %>
</table>

<%= link_to "Add another record", new_record_path, class: "btn"%>
