<h1 class="centered heading">Your Health Records</h1>
<% if params[:start_date] && @records.length == 0 %>  
  <p>No records found in selected date range</p>
    <p><%= link_to "Show all records", records_path %></p>
<% elsif @records.any? %>
  <div id="records-filter-bar"> 
    <% if @categories.count > 1 %>
      <p>Filter by category:</p>
      <p><%= link_to "Show all records", records_path if params[:category] || params[:start_date] %></p> 
      <% @categories.each do |category| %>
        <div>
          <p><%= link_to category, records_path(category: category) %></p>
        </div>
      <% end %>
    <% end %>    
  </div>
  <div id="records-date-section">
      <p>Filter by date range:</p>
      <%= form_tag(records_path, method: :get) do %>
        <%= label_tag(:start_date, "Start date:") %>
        <%= date_field_tag(:start_date, nil, class: "date-picker filter-field", placeholder: Date.today.strftime("%d-%m-%Y")) %>
        <%= label_tag(:end_date, "End date:") %>
        <%= date_field_tag(:end_date, nil, class: "date-picker filter-field", placeholder: Date.today.strftime("%d-%m-%Y")) %>
        <%= submit_tag "Filter", class: "btn" %>
      <% end %>      
  </div>
  <%= render 'records_table', locals: { medications: @records } %>
<% else %>
    <p>You don't have any records saved</p>
    <% @path = new_record_path %>
    <%= render 'shared/add_item_card', locals: {path: @path} %>
<% end %>
