<div id="records-header">
    <h1 class="centered heading"><%= @record.name %></h1>
    
    <% if @record.letter.attached? %>
      <%= link_to records_path do %>
        <div class="close-button">
          X
        </div>
    <% end %>
    <% end %>
</div>
<h3 class="centered records-h3"><%= @record.description %></h3>

<% if @record.letter.attached? %>
  <div id="iframe-container">
  <iframe id="pdf" src="<%= url_for @record.letter %>" frameborder="1" scrolling="auto"></iframe>  
</div>
<% else %>
<p>No document associated with this record, would you like to add one?</p>
  <%= link_to "Add a document", edit_record_path(@record) %>
<% end %>
