<div class="centered basic-form">
  <%= simple_form_for @appointment do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :start_time, as: :string, input_html: {class: "date-time-picker"} %>  
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
</div>
 