<h3>Hi, <%= current_user.first_name %></h3>
<% if @appointments.any? %>
  <p><%= "You have #{@appointments.length} appointments in the month shown" %></p>
<% else %>
  <p><%= "You don't have any appointments in the month shown" %></p>
<% end %>


<%= month_calendar(events: @appointments) do |date, appointments| %>
  <%= date.day %>

  <% appointments.each do |appointment| %>    
    <div id="appointment-info">
      <% if appointment.record_id %>
        <%= link_to appointment.name, record_path(appointment.record_id) %>
      <% else %>
        <%= appointment.name %>      
      <% end %>
      <hr>    
    </div>
  <% end %>
<% end %>

<%= link_to "Add a new appointment", new_appointment_path %>
<%#= appointment.start_time.strftime("%H:%M") %>