<%= month_calendar(events: @appointments) do |date, appointments| %>
  <%= date.day %>

  <% appointments.each do |appointment| %>
    <div id="appointment-info">
      <%= appointment.name %>
      <hr>    
    </div>
  <% end %>
<% end %>

<%= simple_form_for @new_appointment do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :start_time %>
  <%= f.submit %>
<% end %>

<%#= appointment.start_time.strftime("%H:%M") %>