<%= month_calendar(events: @appointments) do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div>
      <%= appointment.name %>
    </div>
  <% end %>
<% end %>

<%= simple_form_for @new_appointment do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :start_time %>
  <%= f.submit %>
<% end %>