<div class="appointment-card">
  <div class="appointment-info">
  <h4>Name</h4>
  <p><%= @appointment.name %></p>
  </div>
  <div class="appointment-info">
    <h4>Location</h4>
    <p><%= @appointment.location %></p>
  </div>
  <div class="appointment-info">
    <h4>Date and Time</h4>
    <p><%= @appointment.start_time.strftime("%d %B %Y, %H:%M") %></p>
  </div>
  <div class="appointment-info">
    <h4>Description</h4>
    <p><%= @appointment.description %></p>
  </div>
  <div class="appointment-info">
    <% if @appointment.letter.attached? %>
      <%= link_to "View appointment letter", appointment_letter_path(@appointment), class: "btn" %>
    <% else %>
        <p>This appointment has no attached letters. You can add one by editing the appointment below.</p>
    <% end %>
  </div>  
  <div class="btn-container">
    <%= link_to "Back to Calendar", appointments_path, class: "btn" %>
    <%= link_to "Edit Appointment", edit_appointment_path(@appointment), class: "btn" %>
    <%= link_to "Delete Appointment", appointment_path(@appointment), class: "btn delete", method: :delete, data: { confirm: "Are you sure?" } %>
  </div>